.full-height {
    height: 250px;
}

.fix-btm {
    position: absolute;
    bottom: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.my_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}